.fav-sec {
    padding-top: 132px;
    padding-bottom: 100px;
}

.fav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (min-width:767px) {
       
    }
}

.wrapper-first-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width:767px) {
        flex-direction: row ;
        flex-wrap: wrap;
    }
}

.fav-quote-card {
    margin: 0;
    width: 100%;
    max-width: none;

    @media screen and (min-width:767px) {
       padding: 40px;
    }
}

.fav-quote-text {
    @media screen and (min-width:767px) {
        display: flex;
        justify-content: space-between;
    }
}


.fav-goal-card {
    width: 100%;
    height: 119px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:767px) {
        margin: 0;
        width: 48%;
        height: 141px;
        padding: 25px;
    }
}

.fav-workout-title-left {
    display: flex;
    align-items: center;
}

.fav-img {
    height: 119px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

    @media screen and (min-width:767px) {
        margin: 0;
        width: 49%;
        height: 141px;
    }
}

.wrapper-secnd {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width:767px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}