<div class="exr-block">
  <ul class="exr-list">
    <li class="exr-item">
      <h3 class="exr-item-title">Abductors</h3>
      <p class="exr-item-text">Muscles</p>
    </li>
    <li class="exr-item">
      <h3 class="exr-item-title">Abductors</h3>
      <p class="exr-item-text">Muscles</p>
    </li>
    <li class="exr-item">
      <h3 class="exr-item-title">Abductors</h3>
      <p class="exr-item-text">Muscles</p>
    </li>
    <li class="exr-item">
      <h3 class="exr-item-title">Abductors</h3>
      <p class="exr-item-text">Muscles</p>
    </li>
    <li class="exr-item">
      <h3 class="exr-item-title">Abductors</h3>
      <p class="exr-item-text">Muscles</p>
    </li>
    <li class="exr-item">
      <h3 class="exr-item-title">Abductors</h3>
      <p class="exr-item-text">Muscles</p>
    </li>
  </ul>
</div>


