<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
</head>
<body>

    <!-- header -->

    

<main>
    <section class="favorites">
        <h1>Favorites</h1>

        <div class="container">
            <ul class="favorites-list">
                <li class="favorites-list-item">
                    <svg class="favorites-icon-man" width="24" height="24">


                    </svg>
                    <h2>Quote of the day</h2>
                    <svg class="favorites-icon-atribute" width="19" height="17">


                    </svg>
                    <p>A lot of times I find that people who are blessed with the most talent don't ever develop that
                        attitude, and the ones who aren't blessed in that way are the most competitive and have the
                        biggest heart.</p>
                    <p>Tom Brady</p>
                </li>
            </ul>
        </div>

        <div class="container">
            <ul>
                <li>
                    <svg class="dumbell-icon" width="24" height="24">
                    </svg>
                    <p>110 min</p>
                    <p>Daily norm of sports</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="section">
        <h2>WORKOUT</h2>
        <svg class="icon-delete">
            <use href="#"></use>
        </svg>
        <p>Start</p>
        <svg class="workout-strick">
            <use href="#"></use>
        </svg>
    
        <button class="workout-start">Start</button>
    
        <div class="workout-details">
            <h2>Air bike</h2>
    
            <div class="workout-stats">
                <p><strong>Burned calories:</strong> 312 / 3 min</p>
                <p><strong>Body part:</strong> Waist</p>
                <p><strong>Target:</strong> Abs</p>
            </div>
        </div>
    </section>
</main>

</body>
</html>



